@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import "./style/base.css";
@import "./style/resume.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply dark:bg-zinc-900 dark:text-slate-200 bg-slate-50 text-zinc-700;
  font-family: "Monda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
 box-sizing: border-box
}
/* .heading{
  @apply text-3xl font-bold border-b-4 rounded-sm border-green-500 w-9 whitespace-nowrap pb-2;
} */
.icon{
  stroke-width: 2px;
}